.banner {
  width: 100%;
  height: 100vh;
  background-image: url("../images/photo-1471107340929-a87cd0f5b5f3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

.banner-inner {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border: 0.15em solid white; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), 0.75s step-end infinite;
  padding: 6rem 0;
  color: #1dd135;
  font-weight: 700;
}

.banner-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-button {
  margin-bottom: 2rem;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
