.track-box-up {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e20a;
  box-shadow: 0 0 7px #139e25;
  margin: 1px 1px;
  flex-wrap: nowrap;
}
.track-box-up-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.track-box-up-col {
  width: 25px;
  height: 20px;
  margin-right: 8rem;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.track-box-up-col-title {
  margin: 0;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.5rem;
  /* margin-right: 5rem; */
  margin: 0 2rem 0 2rem;
}

@media only screen and (max-width: 1049px) {
  .track-box-up-col {
    font-size: smaller;
    width: 25px;
    height: 20px;
    margin-right: 4rem;
  }
  .track-box-up-col-title {
    margin: 0;
    color: #ffffff;
    font-weight: 800;
    font-size: 1rem;
    margin: 0 3rem 0 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .track-box-up-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
  }
  .track-box-up-col {
    font-size: x-small;
    width: 25px;
    height: 20px;
    margin-right: 2rem;
  }

  .track-box-up-col-title {
    margin: 0;
    color: #ffffff;
    font-weight: 800;
    font-size: 1rem;
    margin: 0 2.3rem 0 2rem;
  }
}

.track-box-up-col > span {
  margin: 0 auto;
}
