.track-box-container {
  background-image: url("../images//sttdy_trcker_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
